<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
	<connectionStrings>
		<add name ="connection_string"
			 providerName ="System.Data.SqlClient"
			 connectionString ="Server=DESKTOP-JN32FB5;Database=Company; User ID=sa; password=9797"/>
	</connectionStrings>
</configuration>